---
layout: base
---
<div class="wrapper">
  <header>
      <div class="logo-container">
        <a class="logo" style="background-image: url('{{ site.jkortner.logo }}')"></a>
      </div>

      <div class="author-container"><h1>{{ site.jkortner.author }}</h1></div>

      <div class="icon-container">
        <a href="mailto:john.kortner@unil.ch">
          <i class="fa fa-envelope-o"></i>
        </a>
      </div> 
      <!-- <div class="uni-container">
        <br> 
        <img src="/images/unil.jpg" style="width: 140px;">
      </div> -->
  </header>
  <main>
    <div class="content" dir="rtl">
      {% include content.html %}
    </div>
    <div class="footer"> {% include footer.html %} </div>
  </main>
</div>

