---
---
/* 
Fonts:
https://github.com/dreampulse/computer-modern-web-font
*/
@import url('https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css');

body {
  font-family: 'Computer Modern Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #030303;
  background-color: #ffffff;
  line-height: 1.15em;
}

header,
main {
  padding: 0 20px; }

h2 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: -.25em; }

h3 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0; }

/** 
em {
  text-decoration: underline;
}
**/

article {
  /* border-style: solid; */
  margin: 6px 0px 6px 0px; 
  /* box-shadow: 4px 4px 0px 0px #0085ca4d; */
  /* border-width: 1px; */
  padding-left: .5em;
  text-indent: -.5em;
}

section {
  border-style: solid;
  margin: 6px 0px 6px 0px; 
  /* box-shadow: 4px 4px 0px 0px #0085ca4d; */
  /* border-width: 1px; */
}

/*** wrapper div for both header and main ***/
.wrapper {
  margin-top: 5%; }

/*** anchor tags ***/
a:link,
a:visited,
a:hover,
a:active {
  color: #0085ca; /*** #00693e, #0085ca, #f87b00 ***/
  /*** background: -webkit-linear-gradient(75deg, #2e3192, #1bffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; ***/
  text-decoration: none; }
  
a:hover {
  text-decoration: underline; }

/*** logo ***/
.logo-container {
  text-align: center; }

.logo {
  width: 140px;
  height: 140px;
  display: inline-block;
  background-size: cover;
  border-radius: 50%;
  -moz-border-radius: 50%;
  border: 10px solid #ffffff; }

/*** author ***/
.author-container h1 {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0.25em;
  text-align: center; }

/*** icon ***/
.icon-container {
  font-size: 1.15em;
  text-align: center; }

ul {
  list-style-type: disc;
  padding-left: 20px; }

/******/
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #46433a, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #46433a, rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), #46433a, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), #46433a, rgba(0, 0, 0, 0)); }

/*** media queries ***/
/* X-Small devices (phones, 480px and up) */
@media (min-width: 480px) {
  /* wrapper stays 480px wide past 480px wide and is kept centered */
  .wrapper {
    width: 480px;
    margin: 10% auto 0 auto; }

  .icon-container {
    text-align: center; } }
/* All other devices (768px and up) */
@media (min-width: 768px) {
  /* past 768px the layout is changed and the wrapper has a fixed width of 680px
  to accomodate both the header column and the content column */
  .wrapper {
    width: 760px; 
    margin: 5% auto 0 auto;}

  /* the header column stays left and has a dynamic width with all contents
  aligned right */
  header {
    float: left;
    width: 30%;
    text-align: right; }

  .author-container h1,
  .logo-container,
  .icon-container {
    text-align: right; }

  main {
    width: 58%;
    margin-left: 35%;
    padding: 0; } }
